@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  padding: 15px 0 12px;
  border-bottom: 1px solid rgba(129, 129, 129, 0.4);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact {
    display: flex;
  }
  .user-nav {
    margin-right: 42px;
    &__list {
      display: flex;
      &:first-child {
        padding-left: 40px;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 27px;
          height: 2px;
          background-color: $accent;
          top: 10px;
          left: 0;
        }
      }
    }
    &__item {
      display: flex;
    }
    .user-nav__item + .user-nav__item {
      margin-left: 35px;
    }
    &__img {
      margin-right: 10px;
    }
    &__content {
      display: flex;
      flex-direction: column;
    }
    &__link {
      line-height: 19px;
      @extend %Gilroy-Bold;
    }
    &__text {
      font-size: 13px;
      line-height: 15px;
      color: $gray;
    }
  }
  .user-contact {
    &__link {
      font-size: 13px;
      line-height: 16px;
      padding: 16px 32px;
      border: 1px solid $accent;
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      color: $accent;
      text-align: center;
      @extend %Gilroy-Bold;
    }
  }
}
.header-nav {
  padding: 12px 0;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu {
    &__list {
      display: flex;
    }
    &__item {
      border-left: 1px dotted $gray;
      &:first-child {
        border-left: none;
      }
    }
    .menu__item + .menu__item {
      padding-left: 30px;
      margin-left: 30px;
    }
    &__link {
      font-size: 14px;
      line-height: 16px;
      @extend %Gilroy-Bold;
      &--active {
        color: $blue;
      }
    }
  }
  .social {
    display: flex;
    .social__link + .social__link {
      margin-left: 7px;
    }
  }
}
.top {
  background-image: url(../images/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__inner {
    display: flex;
    padding-top: 55px;
    margin-bottom: -50px;
  }
  &__content {
    max-width: 681px;
    margin-right: 25px;
  }
  &__content-title {
    font-size: 46px;
    line-height: 56px;
    @extend %Gilroy-ExtraBold;
    margin: 100px 0 40px;
  }
  &__content-box {
    display: flex;
    gap: 20px;
  }
  &__content-link {
    background-color: $blue;
    max-width: 100%;
    border-radius: 4px;
    padding: 16px;
    display: flex;
    align-items: center;
    color: #fff;
    line-height: 24px;
    @extend %Gilroy-Light;
  }
  &__content-img {
    margin-right: 15px;
  }
  &__content-age {
    @extend %Gilroy-Bold;
  }
  &__img {
    margin-right: -70px;
    max-width: 534px;
    height: 609px;
    object-fit: cover;
  }
  &__consultation {
    background-color: #fff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 18px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(50%);
  }
  &__consultation-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
    @extend %Gilroy-Bold;
  }
  &__consultation-text {
    color: $gray;
    line-height: 14px;
  }
  &__consultation-time {
    background-color: rgba(223, 234, 255, 0.6);
    border-radius: 4px;
  }
  &__consultation-box {
    display: flex;
    align-items: center;
    padding: 16px 30px;
  }
  &__consultation-img {
    margin-right: 18px;
  }
  &__consultation-date {
    padding-left: 68px;
    @extend %Gilroy-Bold;
    line-height: 24px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/top-arrow.svg);
      width: 56px;
      height: 12px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__consultation-link {
    background-color: $accent;
    box-shadow: 0px 0px 10px rgba(233, 49, 35, 0.4);
    border-radius: 4px;
    text-align: center;
    color: #fff;
    line-height: 19px;
    @extend %Gilroy-Bold;
    padding: 21px 58px;
  }
  &__consultation-feedback {
    font-size: 14px;
    line-height: 18px;
    color: $gray;
    max-width: 190px;
    @extend %Gilroy-Regular;
  }
}
.top-info {
  background-color: $blue;
  padding: 171px 0 118px;
  &__inner {
    display: flex;
    gap: 30px;
  }
  &__item {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    text-align: center;
    width: 370px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__img {
    margin-bottom: 25px;
  }
  &__title {
    line-height: 24px;
    @extend %Gilroy-Bold;
    max-width: 242px;
  }
}

@import 'media';
